{{define "index02"}}
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>Hello Golang</title>
        <link rel="stylesheet" href="/xxx/index.css">
    </head>
    <body>
        <h1>{{.title | safe}}</h1>
</html>
{{end}}