{{define "index01"}}
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>Hello Golang</title>
        <link rel="stylesheet" href="/xxx/index.css">
    </head>
    <body>
        <h1>{{.title}}</h1> 
        <script src="/xxx/index.js"></script>
</html>
{{end}}